/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
!/laravel-echo-server.json
!/docker-compose.yml
!/Dockerfile
/.idea/
/.idea/
